<nav class="navbar">
  <div class="container">
    <div class="logo" routerLink="/">
      <img src="assets/logoeg4.png" height="80px" width="80px" alt="Essential Group Logo">  
    </div>
    
    <div class="menu desktop-menu">
      <a routerLink="/essential-motors">Essential Motors</a>
      <a routerLink="/tech-essential">Tech Essentials</a>
      <a routerLink="/essential-properties">Essential Properties</a>
      <a routerLink="/cart">
        🛒 Cart ({{ cartService.getItems().length }})
      </a>
    </div>
  </div>

  <div id="mobileMenu" class="menu mobile-menu">
    <a routerLink="/essential-motors">Essential Motors</a>
    <a routerLink="/tech-essential">Tech Essentials</a>
    <a routerLink="/essential-properties">Essential Properties</a>
    <a routerLink="/cart">
      🛒 Cart ({{ cartService.getItems().length }})
    </a>
  </div>
</nav>
