<!-- navbar.component.html -->
<nav class="navbar">
  <div class="container">
    <div class="logo" routerLink="/">
      <img src="assets/logoeg4.png" height="80px" width="80px" alt="Essential Group Logo">  
   </div>
    <button class="hamburger" onclick="toggleMenu()" aria-label="Toggle Menu">
      ☰
    </button>
    <div class="menu desktop-menu">
      <a href="/essential-motors">Essential Motors</a>
      <a href="/essential-properties">Tech Essentials</a>
      <a href="/tech-essential">Essential Properties</a>

    </div>
  </div>
  <div id="mobileMenu" class="menu mobile-menu">
      <a href="/essential-motors">Essential Motors</a>
      <a href="/essential-properties">Tech Essentials</a>
      <a href="/tech-essential">Essential Properties</a>
  </div>
</nav>