<!-- essential-motors.component.html -->
<section class="motors">
  <div class="intro">
    <h1>
  <img src="assets/essentialmotorslogo.jpeg" alt="Essential Motors Logo" class="logo-icon">
  Essential Motors
</h1>

    <p>Browse our premium car collection with detailed specifications, mileage, and pricing. Place your order today!</p>
  </div>
  <input type="text" [(ngModel)]="searchQuery" placeholder="Search items..." class="search-bar" />
  <div class="car-list">
    <div class="car-card" *ngFor="let car of filteredCars()">
      <img [src]="car.image" [alt]="car.name">
      <h2>{{ car.name }}</h2>
      <ul>
        <li><strong>Specifications:</strong> {{ car.specifications }}</li>
        <li><strong>Mileage:</strong> {{ car.mileage }}</li>
        <li><strong>Condition:</strong> {{ car.condition }}</li>
        <li><strong>Price:</strong> {{ car.price }}</li>
      </ul>
      
      <app-user-details-modal 
        [visible]="showModal"
        (submitted)="handleModalSubmit($event)"
        (closed)="handleModalClose()">
        </app-user-details-modal>

      <div *ngIf="isLoading" class="loading-indicator">Loading...</div>

   <button (click)="addToCart(car)">Add to Cart</button>

    </div>
  </div>
</section>